name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch: {}

jobs:
  macos:
    name: macOS - Xcode ${{ matrix.xcode }} - ${{ matrix.config }}
    runs-on: macos-26
    strategy:
      matrix:
        xcode: ['26.1']
        config: ['debug', 'release']
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app

      - name: Run ${{ matrix.config }} tests
        run: swift test -c ${{ matrix.config }}

  linux:
    name: Linux - Swift ${{ matrix.swift }} - ${{ matrix.config }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift:
          - '6.2'
        config: ['debug', 'release']
    container: swift:${{ matrix.swift }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build (${{ matrix.config }})
        run: swift build -c ${{ matrix.config }}

      - name: Run ${{ matrix.config }} tests
        run: swift test -c ${{ matrix.config }}
